%popp-light{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
%popp-regular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
%popp-medium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
%popp-semibold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
%popp-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
%bgColorBtn{
    background: #FF9900;
}

